header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 108px;
  right: 300px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 1000;

  img{
    display: none;
  }
}

header .menu-icon:active {
  .mobile-menu_content {
    display: block;
  }


}