@media screen and (min-width:426px) and (max-width: 769px) {
  nav {

  }

  body{
    width: 768px;
    position: absolute;
  }

  header {
    width: 768px;
    height: 90px;
    top: 16px;
    padding: 25px 32px 25px 32px;
    gap: 60px;
    border-radius: 24px 24px 24px 24px;
    left: 0;
    right: 0;

    img{
      display: block;
      width: 49px;
      height: 30px;
    }

    nav{
      display: none;
    }

    .contact-info {
      position: relative;
      display: block;
      font-size: 14px;
      right: 15px;

      .phones {
        display: none;
      }
    }
  }
  .footer-cont{
    width: 768px;
  }
  .footer {
    width: 768px;
    margin: 0;
    padding: 46px 21px 37px 21px;

    h1{

      font-size: 36px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.15399999916553497px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 8px;

    }

    .content {
      margin-top: 32px ;
      align-items: center;
    }
    .bottom{
      margin-top: 32px;
    }
  }
  .intro{
    margin: 0px 0px 0 33px;
    overflow: hidden;
    width: 768px;

    .text{
      padding-top: 138px !important;
      width:60% !important;
      margin-top:0;

      h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 40.32px;
        letter-spacing: 0.32645100355148315px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      p{
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.23999999463558197px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 32px;
      }

      .form{
        width: 382px;
        height: auto;
        border-radius: 12px 12px 12px 12px;
        padding: 32px 55px 32px 32px;

        .intro-title-container{
          .intro-title{
            width: 100%;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.3799999952316284px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 32px;
          }
        }

        .form-elements{
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 32px;
          justify-content: flex-start;
          align-items:flex-start;

          input{
            padding:0;
          }

          label{
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.07800000160932541px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

          }

          div{
            width: 100%;
            margin:0;
            padding: 0;
          }
        }

        button{
          text-align: center;
          margin: 0;
          width: 50%;
        }

      }
    }

    .images{
      width: 294.53px;
      height: 933.13px;
      top: -1.76px;
      left: 490px;
      gap: 0px;
      border-radius: 24px 0px 0px 0px;
      opacity: 0px;
    }
  }

  /////////////////////////////////////

  .development-cycle{
    width: 768px;
    h1{
      font-size: 28px;
      font-weight: 700;
      line-height: 40.32px;
      letter-spacing: 0.32645100355148315px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-top: 32px;
    }

    .container{
      margin: 0 92px 35px 40px;
    }

    .content{
      gap: 83px;
      padding-top: 0;
    }

    .left{
      margin-left: 40px;
      .web h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.3799999952316284px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .web p{
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.40799999237060547px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .mobile h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.3799999952316284px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .mobile p{
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.40799999237060547px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }

    .right{
      margin-top: 156px !important;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.3799999952316284px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }

  ///////////////////////////////////////

  .our-team{
    width: 768px;
    height: 884px;
    flex-direction: column !important;

    padding: 38px 34px 52px 30px;

    .team_main-info{
      margin:0 !important;
      padding: 0;

      h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 40.32px;
        letter-spacing: 0.32645100355148315px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      p{
        width: 65%;
      }

      .team_info-disc{
        position: relative;
        padding: 0px 60px 0px 30px;
        top: 498px;
      }

      .allthe{
        position: relative;
        width: 100% !important;
        top: 500px !important;
        padding: 0px 60px 0px 30px;
      }

    }
    .img-wrapper{

      margin: 0 !important;
      bottom: 192px;

      img{
        width: 100%;
        height: auto;
      }

      .play-button{
        width: 10%;
      }
    }
  }
  //////////////////////////////////////
  ///
  .projects, .container{
    width: 768px;
    height: 1368px;
    margin: 0 !important;
    padding: 0;
  }
  .projects{
    width: 768px;



    .projects-header h1{
      font-size: 28px;
      font-weight: 700;
      line-height: 40.32px;
      letter-spacing: 0.32645100355148315px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 29px 0 0 33px;
    }

    .projects-lists {
      margin: 32px 36px 44px 33px !important;
      display: grid; // Используем grid для родителя
      grid-template-columns: 1fr 1fr; // Два столбца
      gap: 20px;
      grid-auto-rows: min-content; // Размер строки автоматически подстраивается под контент
      grid-auto-flow: row dense;

      // Убираем контейнеры theme-left, theme-center, theme-right из потока
      .theme-left,
      .theme-center,
      .theme-right {
        display: contents; // Делаем их прозрачными для grid
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: contents;

        .icon-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;

          // Для нечётных элементов - первый столбец
          &:nth-of-type(1), &:nth-of-type(2) {
            grid-column: 1; // Первый столбец
          }

          &:nth-of-type(9), &:nth-of-type(10), &:nth-of-type(11), &:nth-of-type(12), &:nth-of-type(13), &:nth-of-type(14), &:nth-of-type(15) {
            grid-column: 2; // Второй столбец
          }
        }
      }
    }




    .project-example{

      .project-text{

        .project-text_container{
          width: 100%;
          padding-bottom: 0;
          margin-bottom: 26px;
        }

        h1{
          font-size: 28px;
          font-weight: 700;
          line-height: 40.32px;
          letter-spacing: 0.32645100355148315px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          width: 85%;
          margin-left: 38px;
        }

        p{
          width: 65%;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.23999999463558197px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin-left: 38px !important;

        }
      }

      .I-teka{
        margin: 0 57px 0 35px;

        .I-teka_container{
          display: flex;
          flex-direction: column;
          align-items: center;

          nav{
            display: flex;
            justify-content: space-around;
            flex: 1;
            width: 100%;
            margin: 0;
            padding: 0;


            a{
              display: inline-block;
              font-size: 14px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: -0.40799999237060547px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              height: 22px;
              margin: 0;
              padding: 0;

            }
          }

          .button_I-teka{
            position: relative;
            top: 55px;
            left: 290px;
          }
        }
      }

      .I-teka_main{

        margin-top: 0px !important;

        .I-teka_main-img{
          img{
            position: relative;
            width: 360.65px;
            height: auto;
            top: 80px;
            gap: 0px;
            opacity: 0px;

          }
        }

        .I-teka_main-info{
          margin-bottom: 45px;
        }

        .I-teka_main-info-desc{
          gap: 32px !important;

          p{
            width: 459px;
          }

          .medicine{
            position: relative;
            right: 400px !important;
          }

          .active_users{
            position: relative;
            right: 400px !important;
          }

          nav{

            a{
              font-size: 12px !important;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: -0.40799999237060547px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }

          }
        }
      }
    }
  }
  ////////////////////////////////////////
  .get-book{
    width: 768px;

    .main_get-book{
      justify-content: space-evenly !important;

    }
    .get-book_container{

      .info_get-book{

        margin: 76px 0 84px 76px !important;

        h1{
          width: 150%;
          font-size: 28px !important;
          font-weight: 700;
          line-height: 40.32px;
          letter-spacing: 0.32645100355148315px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }
        form{
          .input-fields{
            flex-direction: column;

            .phone-name{
              flex-direction: column !important;
            }
          }
          button{
            width: auto !important;
            align-self: self-start;
          }
        }

      }

    }

    .img_get-book{
      margin: 0 !important;
      img{
        width: 240px !important;
        height: 340px !important;
        left: 50px !important;
        top: 20px;

      }
    }


  }
  ////////////////////////////////////////
  .discussion-cont{
    width: 768px;
    height: 428px;

    .disc-container{
      padding:22px 144px 32px 38px !important;
      margin:0;

      flex-direction: column !important;
      gap: 32px;

      .text-elements-disc{

        h1{
          width: 75% !important;
          font-size: 28px;
          font-weight: 700;
          line-height: 40.32px;
          letter-spacing: 0.32645100355148315px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin: 0;
          padding: 0;
        }

        p{
          width: 95%;
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }
      }

      form{
        width: 600px;
        height: 190px;
        gap: 18px;
        border-radius: 8px;
      }

      button{
        margin: 0;
        padding: 12px;
      }
    }

  }

  ////////////////////////////////////////

  .app-dev-stages{
    width: 768px;
    height: 1300px;
    margin: 0;
    padding: 32px 53px 32px 42px !important;

    .app-dev-stages_header{
      h1{
        width:100%;
        font-size: 28px;
        font-weight: 700;
        line-height: 40.32px;
        letter-spacing: 0.32645100355148315px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 44px;
        padding: 0;
      }
    }

    .two-boxes{
      flex-direction: column !important;

      .box{
        width: 100% !important;

        .box-item{
          padding:24px;
          width: 673px !important;
          height: 172px !important;
          border-radius: 12px;

          .item-header{
            margin:0;
            padding: 0 !important;

            h2{
              font-size: 20px;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0.3799999952316284px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

            }
          }

          p{
            padding: 0 !important;
            width: 75%;
            margin-top: 16px !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.23999999463558197px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

          }
        }
      }
    }
  }

  ////////////////////////////////////////

  .FAQ{
    width: 768px;
    .FAQ-container{
      padding: 22px 77px 32px 36px;

      .FAQ-questions{
        flex-direction: column;
        gap: 0;
        margin-left: 34px;

        .FAQ-left{
          width: 100%;
        }

        .FAQ-right{
          width: 100%;
        }
      }


    }
  }

  ///////////////////////////////////////
}

@media screen and (max-width: 426px) {

  body{
    width: 426px;
  }

  header{
    display: flex;
    justify-self: center;
    width: 409px;
    height: 90px;
    top: 20px;
    padding: 0px 0px 0px 17px;
    margin: 0 8px 0px 8px;
    border-radius: 12px 12px 12px 12px;
    opacity: 0px;

    .contact-info{
      display: none;
    }

    nav{
      display: none;
    }

    .logo{
      position: relative;
      left: -120px;

    }

    img{
      display: block;
      height: 27px;
    }

  }

  .footer-cont{
    width: 426px;
  }

  .footer {
    margin: 0;
    padding: 46px 21px 37px 21px;
    width: 427px;
    height: 350px;



    h1{

      font-size: 36px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.15399999916553497px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 52px;

    }

    .content {
      padding-left: 10px;
      margin-top: 32px;
      align-items: center;
      justify-content: center; /* Центрирование содержимого */
      display: grid; /* Grid Layout - вкл */
      grid-template-columns: repeat(2, 1fr); /* 2 колонки равной ширины */
      grid-template-rows: repeat(2, auto); /* 2 строки с автоматической высотой */
      gap: 20px; /* Промежутки между элементами */
    }
    .bottom{
      margin-top: 62px;
    }
  }


  .intro{
    margin: 0px 0px 0 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 1267px;
    left: -8px;
    gap: 0px;
    opacity: 0px;
    width: 426px;
    height: 1267px;


    .text{
      padding-top: 138px !important;
      width:100% !important;
      margin-top:0;

      h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 40.32px;
        letter-spacing: 0.32645100355148315px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      p{
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.23999999463558197px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 32px;
        overflow: hidden;
      }

      .form{
        position: relative;
        width: 412px;
        height: auto;
        border-radius: 12px 12px 12px 12px;
        padding: 32px 55px 32px 32px;
        top: 450px;
        margin: 0;

        .intro-title-container{
          .intro-title{
            width: 100%;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.3799999952316284px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 32px;
          }
        }

        .form-elements{
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 32px;
          justify-content: flex-start;
          align-items:flex-start;

          input{
            padding:0;
          }

          label{
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.07800000160932541px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

          }

          div{
            width: 100%;
            margin:0;
            padding: 0;
          }
        }

        button{
          text-align: center;
          margin: 0;
          width: 50%;
        }

      }
    }

    .images{
      position: relative;
      width: 550.53px;
      height: 1200.13px;
      gap: 0px;
      border-radius: 24px 0px 0px 0px;
      opacity: 0px;
      right: -50px;
      top: -100px;

    }
  }

  /////////////////////////////////////

  .development-cycle{
    width: 426px;
    height: 900px;
    h1{
      font-size: 28px;
      font-weight: 700;
      line-height: 40.32px;
      letter-spacing: 0.32645100355148315px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-top: 32px;
    }

    .container{
      margin: 0 92px 35px 40px;
    }

    .content{
      gap: 32px;
      flex-direction: column;
      padding-top: 0;
    }

    .left{
      margin-left: 17px;
      width: 100% !important;

      .two_types{
        width: 70% !important;
      }

      .web h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.3799999952316284px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .web p{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.40799999237060547px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .mobile h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.3799999952316284px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .mobile p{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.40799999237060547px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }

    .right{
      width: 100% !important;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.3799999952316284px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 0 172px 52px 17px !important;
    }
  }

  ///////////////////////////////////////

  .our-team{
    flex-direction: column !important;
    width: 426px;
    height: 646px;


    padding: 38px 16px 52px 16px;

    .team_main-info{
      margin:0 !important;
      padding: 0;

      h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 40.32px;
        letter-spacing: 0.32645100355148315px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      p{
        width: 90%;
      }

      .team_info-disc{
        position: relative;
        top: 230px;
        justify-content: space-evenly;
        gap:0;

        .box_info-team{
          h1{
            font-size: 28px;
          }
        }

      }

      .allthe{
        position: relative;
        width: 90% !important;
        top: 220px !important;
      }

    }
    .img-wrapper{

      margin: 0 !important;
      top: -250px;

      img{
        width: 100%;
        height: auto;
      }

      .play-button{
        width: 10%;
      }
    }
  }
  //////////////////////////////////////
  ///
  .projects, .container{
    margin: 0 !important;
    padding: 0;
    width: 426px;
    height: 1670px;
  }
  .projects{
    width: 426px;

    .projects-header{
      width: 100%;
    }

    .projects-header h1{
      font-size: 28px;
      font-weight: 700;
      line-height: 40.32px;
      letter-spacing: 0.32645100355148315px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 29px 0 0 33px;
      width: 100%;
    }

    .projects-lists {
      margin: 32px 36px 44px 33px !important;
      display: grid; // Используем grid для родителя
      grid-template-columns: 1fr 1fr; // Два столбца
      gap: 20px;
      grid-auto-rows: min-content; // Размер строки автоматически подстраивается под контент
      grid-auto-flow: row dense;

      // Убираем контейнеры theme-left, theme-center, theme-right из потока
      .theme-left,
      .theme-center,
      .theme-right {
        display: contents; // Делаем их прозрачными для grid
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: contents;

        .icon-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;

          // Применяем для нечётных элементов первый столбец
          &:nth-of-type(1), &:nth-of-type(2) {
            grid-column: 1; // Первый столбец
          }

          &:nth-of-type(9), &:nth-of-type(10), &:nth-of-type(11), &:nth-of-type(12), &:nth-of-type(13), &:nth-of-type(14), &:nth-of-type(15) {
            grid-column: 2; // Второй столбец
          }
        }
      }


    }

    .project-example{

      .project-text{

        .project-text_container{
          width: 100%;
          padding-bottom: 0;
          margin-bottom: 32px;
        }

        h1{
          font-size: 28px;
          font-weight: 700;
          line-height: 40.32px;
          letter-spacing: 0.32645100355148315px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          width: 100%;
          margin-left: 38px;
        }

        p{
          width: 85%;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.23999999463558197px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin-left: 38px !important;

        }
      }

      .I-teka{
        margin: 0 57px 0 35px;

        .I-teka_container{
          display: grid;
          grid-template-rows: auto auto; /* Две строки */
          row-gap: 20px; /* Отступ между строками */
          align-items: center; /* Выравнивание по вертикали */
          justify-items: center;

          nav{
            display: flex;
            flex-wrap: wrap; /* Перенос строк */
            justify-content: flex-start; /* Центрирование элементов */
            gap: 16px; /* Отступы между элементами */
            width: 100%;
            align-items: flex-start;


            a{
              display: inline-block;
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: -0.40799999237060547px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              height: 22px;
              margin: 0;
              padding: 0;

            }
          }

          .button_I-teka{
            position: relative;
            bottom: -670px;
            width: 150%;
          }
        }
      }

      .I-teka_main{

        margin-top: 0px !important;
        margin-bottom: 107px;

        .I-teka_main-img{
          img{
            position: relative;
            width: 420.65px;
            height: auto;
            top: -260px;
            gap: 0px;
            opacity: 0px;
            left: -220px;
          }
        }

        .I-teka_main-info{
          margin-bottom: 45px;
          margin-top: 159px;
        }

        .I-teka_main-info-desc{
          gap: 32px !important;

          p{
            width: 200%;
          }

          .icons-labels{
            width: 200%;
          }

          .store-images{
            width: 200%;
          }

          nav{
            width: 500%;
            a{
              font-size: 12px !important;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: -0.40799999237060547px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }

          }
        }
      }
    }
  }
  ////////////////////////////////////////
  .get-book{
    width: 426px;
    height: 923px;

    .main_get-book{
      display: flex;
      flex-direction: column;
      padding: 45px 45px 45px 45px;

    }
    .get-book_container{

      .info_get-book{
        margin: 0;
        width: 100%;

        h1{
          width: 100%;
          font-size: 28px !important;
          font-weight: 700;
          line-height: 40.32px;
          letter-spacing: 0.32645100355148315px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }
        form{
          position: relative;
          width: 335px;
          height: 431pxpx;
          padding: 32px 32px 32px 32px;
          gap: 32px;
          border-radius: 12px 12px 12px 12px;
          top: 300px;


          .input-fields{
            flex-direction: column;

            .phone-name{
              flex-direction: column !important;
            }
          }
          button{
            width: 100%;
            align-self: self-start;
          }
        }

      }

    }

    .img_get-book{
      margin: 0 !important;
      img{
        width: 190.22px !important;
        height: auto !important;

        top: -480px !important;
        left: -30px !important;

      }
    }


  }
  ////////////////////////////////////////
  .discussion-cont{
    width: 426px;
    height: 559px;

    .disc-container{
      padding:34px 16px 55px 16px !important;
      margin:0;

      flex-direction: column !important;
      gap: 32px;

      .text-elements-disc{
        width: 100%;
        gap: 0;
        h1{
          width: 75% !important;
          font-size: 28px;
          font-weight: 700;
          line-height: 40.32px;
          letter-spacing: 0.32645100355148315px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin: 0;
          padding: 0;
        }

        p{
          width: 95%;
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }
      }

      form{
        width: 393px;
        height: 300px;
        padding: 36px 18px 36px 17px;
        border-radius: 12px 12px 12px 12px;
        opacity: 0px;
        display: flex;
        flex-direction: column;

        .input-fields{
          flex-direction: column;
          gap:16px;
        }

      }

      button{
        align-self: center;
        margin: 0 0 0 0;
        padding: 12px;
        width: 80%;
      }
    }

  }

  ////////////////////////////////////////

  .app-dev-stages{
    width: 426px;
    height: 1400px;
    margin: 0;
    padding: 32px 32px 20px 16px !important;

    .app-dev-stages_header{
      h1{
        width:100%;
        font-size: 28px;
        font-weight: 700;
        line-height: 40.32px;
        letter-spacing: 0.32645100355148315px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 44px;
        padding: 0;
      }
    }

    .two-boxes{
      flex-direction: column !important;

      .box{
        width: 100% !important;

        .box-item{
          padding:24px;
          width: 394px;
          height: px;
          border-radius: 12px;

          .item-header{
            margin:0;
            padding: 0 !important;

            h2{
              font-size: 20px;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0.3799999952316284px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

            }
          }

          p{
            padding: 0 !important;
            width: 75%;
            margin-top: 16px !important;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.23999999463558197px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

          }
        }
      }
    }
  }

  ////////////////////////////////////////

  .FAQ{
    width: 426px;
    .FAQ-container{
      padding: 32px 16px 32px 16px;

      .FAQ-questions{
        flex-direction: column;
        gap: 0;


        .FAQ-left{
          width: 100%;

          .FAQ-box{
            .faq{
              p{
                width: 90%;
              }
            }
          }
        }

        .FAQ-right{
          width: 100%;

          .FAQ-box{
            .faq{
              p{
                width: 90%;
              }
            }
          }

        }
      }


    }
  }

}