.intro {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 108px;
  position: relative;
  overflow: hidden;
  width: 1440px;
  height: 900px;

  .text {
    margin-top: 164px;
    width: 50%;

    h1 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 24px;
      line-height: 51px;
      width: 80%;
    }
  }

  .aaa{
    position: relative;
    width: 709px;
    height: 900px;
    left: -108px;
    overflow: hidden;
  }

  .images {
    position: absolute; /* Убираем из потока */
    top: -100px;
    right: -120px;
    bottom: 0;
    width: 50%;
    width: 656px;
    height: 1960px;
    display: flex;
    justify-content: space-between;
    z-index: -1000;
    transform: rotate(-12deg);
    clip-path: inset(0 0 0 0);

    .image-container-first, .image-container-second {
      position: absolute;
      top: 0;
      width: 48%;
      height: 100%;
      background-repeat: repeat-y;
      background-size: cover;
      background-position: top;
    }

    .image-container-first {
      left:0;
      background-image: url("/src/assets/img/column-left.webp");
      animation: bg-animation-backward 17s linear infinite;
    }

    .image-container-second {
      right:0;
      background-image: url("/src/assets/img/column-right.webp");
      animation: bg-animation-forward 17s linear infinite;
    }
  }

  @keyframes bg-animation-forward {
    0% {
      transform: translateY(-50%)
    }
    100% {
      transform: translateY(0%)
    }
  }

  @keyframes bg-animation-backward {
    0% {
      transform: translateY(0%)
    }
    100% {
      transform: translateY(-50%)
    }
  }
}

.intro .text p {
  font-size: 16px;
  margin-bottom: 64px;
  width: 90%;
}